<p><u> Latin Name </u></p>
<p class="font_large"> <%= @latin_name_sample %> </p>
<p><u> Picture by Dall-E </u></p>
<p class="font_small"><i> Note: picture generated may not be 100% accurate </i><p>
<div><img src="<%= @image_url %>"></div>
<p><u> Possible Location </u></p>
<p> <%= @state_name %> </p>
<p><u> Common Name </u></p>
<p> <%= @common_name %> </p>
<p><u> About this Bird </u></p>
<p> <%= @chat_gpt %> </p>
<br><br>
<div><b><a class="search" href="/">New Latin Name</a></b></div>
